/* header */

.int-pagina{
    background-color: blue;
}

.pattern{
    width: 100%
}

.logo{
    width: 200px;
}

#titolo{
    margin: 0;
}

.titolo{
    color: blueviolet;
}

a{
    text-decoration: none;
    color: aqua;
}

/* nav */

/* main */

.evidenziato{
    background-color: yellow;
}

.lista{
    padding: 10px;
    margin: 0;
}

/* TABELLA */

.tabella{
    width: 100%;

}

.nome-colonna{
    text-align: left;
    color: white;
    background-color: rgb(48, 83, 241);
}


#articoli{
    color: gray;
    margin: 10px;
    margin-left: 0;
}

.articoli{
    display: block;
    margin: 10px;
    margin-left: 0;
}

/* footer */