/* header */

.int-pagina{
    background-color: rgb(59, 167, 230);
    padding-top: 50px;
    background-image: url(../img/pattern.png);
}

.logo{
    width: 400px;
}

#titolo{
    margin: 0;
}

.titolo{
    color: blueviolet;
}

a{
    text-decoration: none;
    color: aqua;
}

/* nav */

/* main */

.evidenziato{
    background-color: yellow;
}

.lista{
    padding: 10px;
    margin: 0;
}

/* TABELLA */

.tabella{
    width: 100%;
    border-collapse: collapse;  /*questo comando toglie gli spazi tra le caselle*/
}

.tabella>.head{
    text-align: left;
    color: white;
    background-color: rgb(48, 83, 241);
}

.tabella>.body{
    background-color: aqua;
}

#articoli{
    color: gray;
    margin: 10px;
    margin-left: 0;
}

.articoli{
    display: block;
    margin: 10px;
    margin-left: 0;
}

/* footer */